@media (max-width: 768px) {
    .adaptive-hide {
        display: none;
    }
    .adaptive-width {
        min-width: 100%;
        margin: auto;
        flex-basis: auto;
    }
    .adaptive-input-width {
        width: 99% !important;
    }
}

.boxx {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
  }
  
  .boxx .roww.fit-content {
    flex: 0 1 auto;
    width: 100%;
  }
  
  .boxx .roww.fill-remain {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;

    overflow-y: auto;
  }
