.mantine-Grid-inner {
    height: 100%;
    margin: 0;
    width: 100%;
}

.mantine-ScrollArea-viewport {
    padding-bottom: 0;
}

.mantine-Grid-root {
    margin: 0;
    height: auto;
}

.mantine-Tabs-tab {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}