.mantine-Tabs-tab[data-active].manage-tab {
    background-color: var(--bs-primary) !important;
}

.mantine-Tabs-tab[data-active].manage-tab .tabs-content-colors {
    color: var(--bs-body-bg) !important;
}

.hmin-100 {
    min-height: 100%;
}